name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build -t phanning/docker-react -f Dockerfile.dev .
      - name: Run unit tests
        run: docker run -e CI=true phanning/docker-react npm run test
